body {
    font-family: "Inter", sans-serif;
}
.main-content {
    background-color: #fff0fe;
}
.hero {
    margin-top: 0px;
    text-align: center;
    padding: 90px;
    background-color: #fff0fe;
}
.heading {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 48px;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 20px auto;
}
.about-me-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}
.about-me-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about-me-content p {
    margin-top: 20px;
    line-height: 1.6;
}
.btn {
    padding: 10px 20px;
    border-radius: 30px;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.btn-contact {
    display: inline-block;
    background-color: #ED9E54;
    margin-top: 20px;
}
.btn-contact:hover {
    background-color: #f7dda4;
    transition: 0.8s ease-out;
}
a {
    color: #f44bae;
    text-decoration: none;
}
.mb-5{
margin-top: 20px;
text-align: center;
}
.img-fluid mb-3 rounded{
    background-color: #fff0fe;
}
.contact-me-container{
    margin-top: 10px;
}
.contact-me-content{
    display:flex;
    justify-content: space-evenly;
    background-color: #fff0fe;
    padding: 20px;
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    border-radius: 20px;
    border-style:solid;
    border-color: #ED9E54;
}

.h1-contact{
   text-align: center;
}
.my-email{
    text-align: center;
    margin-top: 15px;
}
.button {
    padding: 10px 20px;
    border-radius: 30px;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    background-color: #ED9E54;
    margin-top: 20px;
    border-style: none;
}
.button:hover {
    background-color: #f7dda4;
    transition: 0.8s ease-out;
}
nav{
    padding:20px;
}
.logo{
    max-height: 70px;
    margin-top:0px ;
    margin-left:20px;
}
nav li{
    display: inline;
    list-style: none;
    line-height: 40px;
    margin-left: 30px;
    font-size:18px;
    
}
nav li.active a,
nav a:hover{
    color: #ED9E54;
}
.container{
    max-height: 100px;
}
@media (max-width: 769px) {
    .about-me-content {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
    .about-me-text {
        align-items: flex-start;
        text-align: left;
    }
    img {
        max-width: 300px;
        height: 306px;
        margin-left: 20px;
    }
    .logo{
        max-height: 20px;
padding-right: 0px;
    }
    nav li{
    font-size: 10px;
    margin-left:2px;

    }  
   
    .contact-me-content {
        flex-direction: column;
        align-items: center;
        padding: 40px 30px;
    }
}