/* General styling */
body {
  font-family: "Inter", sans-serif;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 90px;
  background-color: #FFE2FD;
}

.heading {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 48px;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.portfolio_name {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 48px;
  padding-top: 30px;
}

/* Button CSS */
.homepage-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  gap:40px;
  
}

.btn {
  padding: 10px 20px;
  border-radius: 30px;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.btn-work {
  background-color: #F4A1F0;
  margin-left: 20px;
}

.btn-work:hover {
  background-color: #FFE2FD;
  transition: 0.8s ease-out;
}

.btn-about {
  background-color: #C5F27C;
}

.btn-about:hover {
  background-color: #cff5a7;
  transition: 0.8s ease-out;
}

.btn-contact {
  background-color: #ED9E54;
}

.btn-contact:hover {
  background-color: #f7dda4;
  transition: 0.8s ease-out;
}

/* Image section */
.images {
  display: flex;
    justify-content: space-around;
  padding-top: 40px;
}
.image-container {
  margin: 20px; /* Add margin to space out the images */
  text-align: center;
}
.image1 {
    width:429px;
    height:386px;
    border-radius: 20px;
}

.app-title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

.weather-link,
.daisies-link,
.scrunchie-link {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  display: block;
  text-align: center;
  padding-top: 10px;
}

.weather-link {
  color: #EC7B12;
}

.daisies-link {
  color: #92AB4B;
}

.scrunchie-link {
  color: #DE3EB1;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .heading {
      font-size: 2rem;
  }

  .portfolio_name {
      font-size: 1.5rem;
  }

  .app-title {
      font-size: 1rem;
  }

  .homepage-buttons {
      flex-direction: column;
      align-items: center;
  }

  .btn {
      width: 80%;
      margin-bottom: 10px;
  }

  .images {
      flex-direction: column;
      align-items: center;
  }

  .image1 {
      width: 80%;
      max-width: none;
  }

  .weather-link,
  .daisies-link,
  .scrunchie-link {
      padding-left: 0;
  }
}
